li a {
	color: green;
}

body {

	background: white url("images/bits_logo.png") no-repeat;
        background-position:right top;
}

h1 {
	text-align:center;
	color:#990000;
}

table, th, td
{
	border: 1px solid black;
}
